@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.image-override {
  vertical-align: bottom !important;
  /* display: block !important; */
}

.logo-pulse {
  animation: pulse 100s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

@keyframes pulse {
  0%,
  100% {
    opacity: 1;
  }
  40% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
}

.blur-effect {
  backdrop-filter: blur(15px);
}

#nprogress .bar {
  background: #ffbb00 !important;
}

input {
  border-radius: 0;
}

input[type="search"] {
  -webkit-appearance: none;
}
