@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.image-override {
  vertical-align: bottom !important;
  /* display: block !important; */
}

.logo-pulse {
  animation: pulse 100s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

@keyframes pulse {
  0%,
  100% {
    opacity: 1;
  }
  40% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
}

.blur-effect {
  backdrop-filter: blur(10px);
}

#nprogress .bar {
  background: #ffbb00 !important;
}

/* #nprogress .spinner {
  display: block !important;
  position: absolute !important;
  z-index: 1031;
  left: calc(50% - 60px) !important;
  top: calc(50% - 75px) !important;
  background: rgba(95, 107, 131, 0.7) !important;
  backdrop-filter: blur(20px) !important;
  -webkit-backdrop-filter: blur(20px) !important;
  width: 120px !important;
  height: 150px !important;
  border-radius: 20px !important;
} */
/* 
#nprogress .spinner-icon {
  width: 60px !important;
  position: absolute !important;
  height: 60px !important;
  box-sizing: border-box !important;
  left: calc(50% - 30px) !important;
  top: calc(50% - 30px) !important;
  border: solid 7px transparent !important;
  border-top-color: #fff !important;
  border-left-color: #fff !important;
  border-radius: 50% !important;

  -webkit-animation: nprogress-spinner 600ms linear infinite !important;
  animation: nprogress-spinner 600ms linear infinite !important;
} */

.chart-container {
  position: relative;
  /* margin: auto; */
  max-height: 80vh;
  /* width: 80vw; */
}
